<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService" />
        <binding name="NetTcpBinding_IChatService1" />
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IChatService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService"
        contract="ChatService.IChatService" name="testChat">
        <identity>
          <userPrincipalName value="CALCULATOR\witalxp" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8040/Chat" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IChatService1" contract="ChatService.IChatService"
        name="NetTcpBinding_IChatService">
        <identity>
          <userPrincipalName value="CALCULATOR\witalxp" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ChatServiceLibrary/Service1/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IChatService"
        contract="ChatService.IChatService" name="WSDualHttpBinding_IChatService">
        <identity>
          <userPrincipalName value="CALCULATOR\witalxp" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>